@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Arial', sans-serif;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes increase {
  0% { background-color: #ffffff; color: #000000; }
  100% { background-color: #d4edda; color: #155724; }
}

@keyframes decrease {
  0% { background-color: #ffffff; color: #000000; }
  100% { background-color: #f8d7da; color: #721c24; }
}

.increasing {
  animation: increase 1s forwards;
}

.decreasing {
  animation: decrease 1s forwards;
}

.value-container {
  transition: all 0.5s ease;
}






